* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1120px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
header {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
}
main {
  flex: 1;
  width: 100%;
}
footer {
  width: 100%;
  height: 200px;
}
.logo {
  max-height: 32px;
  overflow: hidden;
}
.button {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding: 11px 23px;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid #ffffff;
  z-index: 1;
  background: transparent;
}
.button--bg_red {
  margin-top: 27px;
  color: #fff;
  background-color: #ed4c5c;
}
.button--background {
  margin-top: 40px;
  background: #ffffff;
  color: #ed4c5c;
}
.button--large {
  padding: 17px 52px;
}
.button--medium {
  padding: 17px 32px;
}
.default-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #bcd0e5;
}

body,
input,
button {
  font-family: "Lato" sans-serif;
}
button {
  cursor: pointer;
}
