.main-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 117px;
  height: 500px;
}
footer {
  width: 1440px;
  height: 500px;
}
.main-footer__text-wrapper {
  align-items: center;
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    margin-top: 38px;
  }
}
.contact-name {
  width: 510px;
  display: flex;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input.fname {
  margin-right: 30px;
}
