.container {
  margin: 0 auto;
  max-width: 1120px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo-text {
    z-index: 1;
    h3 {
      &::before {
        content: "";
        background-image: url(/assets/images/photo.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: inline-block;
      }
    }
  }
}
header {
  justify-content: space-between;
}
.main-header {
  position: absolute;
}
.logo-text {
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    &::before {
      content: "";
      background-image: url(./images/dashicons-cloud.svg);
    }
  }
}
.header-navigation {
  display: flex;
  z-index: 1;
  li {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
a {
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}
.header-navigation__list {
  a {
    z-index: 1;
    color: #ffffff;
  }
}
