.container {
  margin: 0 auto;
  max-width: 1120px;
}

.main-section {
  width: 100%;
  display: flex;
  align-items: center;
  .main-section__text-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }
  &::before {
    content: "";
    background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    );
    width: 100%;
    height: 782px;
    top: 0;
    left: 0;
    position: absolute;
  }
}
.background-image {
  background-image: url(./assets/images/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 782px;
  width: 100%;
}
.main-section__text-wrapper {
  h1 {
    margin-top: 257px;
    font-family: "Lato";
    font-style: normal;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  p {
    margin-top: 40px;
    font-family: "Lato";
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
  }
}
.use-content {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
  margin-top: 100px;
}
.use-content__text-wrapper {
  width: 40%;
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
  }
  p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
  }
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ed4c5c;
  }
}
.use-content__image {
  border-radius: 15px;
}
.feature-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}
.features-section-grid {
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  margin-bottom: 150px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}
.features-section-grid__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.features-section-grid__image {
  width: 97%;
  height: 60%;
  object-fit: cover;
  border-radius: 6px;
}
.features-section-grid__content {
  width: 293px;
  height: 198px;
  background-color: #fff;
  position: absolute;
  top: 157px;
  left: 29px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.features-section-grid__contentWrap {
  max-width: 253px;
  margin-top: 0 auto;
  margin-left: 15px;
  width: 100%;
  text-align: center;
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-top: 33px;
  }
  p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ed4c5c;
  }
}
.technology-section {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 220px;
  flex-direction: column;
}
.technology-section__title {
  margin-top: 64px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  margin-bottom: 70px;
}
.technology-list {
  width: 100%;
  display: flex;
  margin-bottom: 23px;
  text-align: center;
}
.technology-list__item {
  width: 25%;
  display: flex;
  padding-right: 50px;
  list-style-type: none;
  flex-direction: column;
  margin: auto;
}
.technology-list__icon {
  width: 100%;
  display: flex;
  margin-bottom: 28x;
  justify-content: center;
  img {
    margin-bottom: 10px;
    max-width: 70px;
    max-height: 80px;
  }
}
.technology-list__descripton {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}
.backgroud-color {
  background-color: #fafafa;
  padding-bottom: 50px;
}
.bg-focused {
  height: 500px;
  background-color: #ed4c5c;
  justify-content: center;
}
.half-focused {
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
  margin-top: 100px;
  display: inline-flex;
}
.half-focused__text-wrapper {
  width: 40%;
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #ffffff;
  }
  p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ffffff;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ed4c5c;
  }
}
.half-focused__image {
  border-radius: 15px;
  background: transparent;
  background-color: transparent;
}
